html {
  position: relative;
  min-height: 100%;
}
body {
  min-height: 70vh;
  margin-bottom: 60px;
  background-color: hotpink;
}
h1{
  font-family: cursive;
  margin: 2rem;
  font-size: 4rem;
}
h2{
  font-family: cursive;
  margin: 2rem;
  font-size: 2.5rem;
}
.joan{
  border-radius: .5rem;
  border: white .2rem solid; 
  margin: 4rem;
}
.navMenu {
  font-family: cursive;
  font-size: 2rem;
  
}

.navMenu:link {
  transition: all .5s ease-in-out;
  font-family: cursive;
}
.navMenu:hover{
  transform: scale(1.5); 
  font-family: cursive;
}

img{
  height: 50%;
}

.newClient{
  margin: 1rem;
  padding: .5rem;
}
footer{
  max-height: fit-content;
  box-sizing: border-box;
  background-color: lightpink;
}
.head{
  background-color: lightpink;
  width: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
header{
  background-color: light-pink;
}