html {
  position: relative;
  min-height: 100%;
}
.lips{
  max-height: 3rem;
}
.navMenu:link {
  transition: all .5s ease-in-out;
  font-family: cursive;
}
.navMenu:hover{
  color:white;
  transform: scale(1.5); 
  font-family: cursive;
}
.navMenu{
  color: hotpink;
  font-family: cursive;
  font-size: 1.5rem;
  -webkit-text-stroke: 1px hotpink; 
  margin: 1rem;
}
body {
  margin-bottom: 60px;
  background-color: hotpink;
  color: white;
}
h1{
  font-family: cursive;
}
.header{
  color: hotpink;
  min-height: 25vh;
  font-family:cursive; 
	font-size: 2.75rem;
  padding: 1rem;
  margin: auto;
	-webkit-text-stroke: 1px #f9f9f9;
	text-shadow: -1px 1px 2px #f9f9f9,
				  1px 1px 2px #f9f9f9,
				  1px -1px 0 #f9f9f9,
				  -1px -1px 0 #f9f9f9;
}